@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #9599e2;
}

header {
  font-size: 10px;
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.roll-dice {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.roll-dice button {
  transition: 0.2s;
  outline: none;
  border: none;
  background-color: #9599e2;
  padding: 1em 2em;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

.roll-dice button:hover {
  transition: 0.2s;
  transform: scale(1.1);
}

.container {
  padding: 3em 4em;
  background-color: #ffffff;
  color: #9599e2;
  border-radius: 8px;
  box-shadow: 0px 3px 19px -5px rgba(0, 0, 0, 0.75);
}

.dice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 90px;
  margin-top: 30px;
}

.dice img {
  width: 100px;
}

.player {
  text-align: center;
  margin-bottom: 10px;
}

/* WINNER and VISIBILITY */
.winner {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  margin-top: 30px;

  & .bold {
    font-weight: bold;
  }
}

.hide {
  display: none;
}

.finish-game {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
}

.finish-game button {
  transition: 0.2s;
  border: none;
  outline: none;
  background-color: #9599e2;
  padding: 1em 1.4em;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.finish-game button:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
